<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parcial 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor = "let dat of datos">
      <ion-item lines="inset" routerLink="/details/{{dat.id}}">
        
        {{dat.nameofcity}} 
        
      </ion-item>
  
  </ion-card>
  </ion-content>
