<ion-header>
  <ion-toolbar>
    <ion-title>dataDetails</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list line="full">
      <ion-item *ngIf="data">
        <h1> {{dato.nameofcity}}</h1>
      </ion-item>

    <ion-item *ngIf = "data">
      <img src= {{dato.photo}}>
    </ion-item>
      
          <h2 style = "color: warning "> Country : </h2>
          <h3> {{dato.country}} </h3>
          <h2 style = "color: warning "> Diet : </h2>
          <h3> {{dato.qualification}} </h3>
          <h2 style = "color: warning "> Habitat : </h2>
          <h3> {{dato.climate}} </h3>
        
     
    </ion-list>
</ion-content>

<ion-content>
</ion-content>
